# Data Science Tools and Ecosystem

*In this notebook, Markdown and Python Code has been introduced.*

__Objectives:__

* List popular languages for Data Science
* Commonly used Libraries by Data Scientists
* Data Science Tool
* Python Code and its executions

## Author
Meenakshi Muthumanickam

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. VBA (Visual Basic for Applications)
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib

| Data Science Tools |  
| ------------------ |  
| Jupyter Notebook | 
| IBM SPSS         |
| Keras              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
import pandas as pd
df = pd.DataFrame({'Duration': [200]})
pd.to_datetime(df.Duration, unit='m').dt.strftime('%H:%M')

0    03:20
Name: Duration, dtype: object